div {
    line-height: ;
    background: darkgreen;
    border-style: solid;
}

h1 {
    text-align: center;
}

h2 {
    border-style: dashed;
}

body {
background-color: rgb(213, 52, 20);
border-style:dotted;
}


p {
    font-style: italic;
    text-align: center;
  }